k8s_service_name={"link": "d/JbXk_fHSk/k8se69c8d-e58aa1-e79b91-e68ea7?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&var-cloud=Tencent&var-env={}&var-cluster={}&var-namespace={}&var-container={}&var-pod=$__all&refresh=30s", "height": 2150}
k8s_resource={"link": "d/urYXsjSSz/k8se8b584-e6ba90-e680bb-e8a788?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&var-cloud=Tencent&var-env={}&var-cluster={}&var-node=$__all&var-namespace=$__all&refresh=30s","height": 1732}
elb={"link": "d/5JY2kopIk/e5bcb9-e680a7-e585ac-e7bd91-ip?orgId=1&kiosk&from=now-5m&to=now&timezone=browser&{}&refresh=30s", "height": 1238}
clb={"link": "d/o62WaitSz/e8b49f-e8bdbd-e59d87-e8a1a1?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&{}&refresh=30s", "height": 4734}
elasticsearch={"link": "d/M6GKTQFIz/elasticsearch?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&var-env=pro&var-cluster={}&var-nodeip=$__all&refresh=30s","height": 9674}
zookeeper={"link": "d/bNpxOLOSz/zookeeper?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&var-env={}&var-cluster={}&var-instance=$__all&refresh=30s","height": 6558}
linux={"link": "d/rXmhIDSIk/linuxe4b8bb-e69cba?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&var-nodeip={}&refresh=30s","height": 4582}
mongodb={"link": "d/92iVLVISk/mongodb?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&{}&refresh=30s","height": 5114}
mysql={"link": "d/Bqhl1qQSz/mysql-e885be-e8aeaf-e4ba91?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&var-vip={}&refresh=30s","height": 4848}
redis={"link": "d/4DLSDsVIz/redis?orgId=1&kiosk&from=now-1h&to=now&timezone=browser&{}&refresh=30s","height": 7660}
api_token="glsa_o6Yfhkzbgjg0DbglXCQmydnDYr7sDfcY_2f7454aa"
grafan_url="https://grafana1.xxlaila.com"
other_paras="tz=Asia%2FShanghai&deviceScaleFactor=1.5&pageZoomLevel=0.8"
