CLUSTERS_CONFIG={"es-log":{"env":"pro","endpoint":"http://10.41.1.45:9200","username":"elastic","password":"123456","business":"yw","timeout":30000,"ssl_enabled":true},"es-logs-test":{"env":"test","endpoint":"http://test-cluster:9200","username":"test_user","password":"test_123","business":"test_biz","timeout":10000,"ssl_enabled":false}}
LOG_DIR=/app/data